<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>DK MechFest - ABOUT</title>
    <link rel="stylesheet" href="../CSS/HomeStyle.css">
    <link rel="stylesheet" href="../CSS/AboutStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab|Roboto|Roboto Serif|Roboto Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
		@media (max-width: 450px){
		    #toaster{
		        width:100%;
		    }
		 }
	</style>    
</head>
<body>
	
	<div class="position-fixed top-0 end-0 p-5 mt-4" id="toaster" style="z-index: 100;">
	        <div id="toastElement" class="toast align-items-center text-center text-bg-success border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
	            <div class="d-flex">
	              <div class="toast-body">
	                
	              </div>
	              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
	            </div>
	        </div>
    </div>

    <header id="about-banner" class="banners">
        <div class="navbar navbar-expand-lg fixed-top navbar-dark">
                <div class="container">
                    <a href="home" class="navbar-brand mb-0" id="title"><span>MECH</span>ASSO</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavBar">
                        <span><i class='bx bx-menu' id="menu-icon"></i></span>
                        <!-- <span class="navbar-toggler-icon"></span> -->
                    </button>

                    <div class="collapse navbar-collapse" id="myNavBar">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item me-3 mb-2 mb-lg-0"><a href="home" class="nav-link">Home</a></li>
                            <li class="nav-item me-3 mb-2 mb-lg-0"><a href="about" class="nav-link active">About</a></li>
                            <li class="nav-item me-3 mb-2 mb-lg-0"><a href="events" class="nav-link">Events</a></li>
                            <li class="nav-item me-3 mb-2 mb-lg-0"><a href="workshop" class="nav-link">Workshop</a></li>
                            <li class="nav-item me-3 mb-2 mb-lg-0"><a href="contact" class="nav-link">Contact</a></li>
                            <li class="nav-item ms-lg-2 mt-3 mt-lg-0"><a href="register"><button class="btn" id="navRegisterButton">Register</button></a></li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="about-header pb-5 header_contents" id="about_header_contents">
            <div class="container pb-4">
                <div class="header-title" id="about-header-title">
                <div class="row p-2 align-items-center justify-content-center">
                    <div class="col-10 text-center">
                        <h1><span>ABOUT US</span></h1>
                    </div>
                </div>
                </div>

                <div class="header-tabs" id="about-header-tabs">
                <div class="row align-items-center text-center header-nav-tabs" id="about-nav-tabs">

                    <nav class="nav nav-justified justify-content-evenly justify-content-md-around d-flex">
                        <div class="mt-5 me-2"><h3><a class="nav-link" href="about#ourCollege">College</a></h3></div>
                        <div class="mt-5 me-2"><h3><a class="nav-link" href="about#ourDepartment">Department</a></h3></div>
                        <div class="mt-5 me-2"><h3><a class="nav-link" href="about#mechasso">Mechasso</a></h3></div>
                        <div class="mt-5 me-2"><h3><a class="nav-link" href="about#mechfest">Mechfest</a></h3></div>
                    </nav>

                </div>
                </div>
            </div>
        </div>
    </header>

    <section>
        
        <div class="container p-5 text-start">
            <div id="about-contents" class="section-contents">
                <div class="row p-5 pb-4 align-items-center justify-content-center" id="ourCollege">
                    <div class="col">
                        <div class="ourCollegeImage">
                        <div class="row text-center">
                            <div class="col-12">
                                <img src="../CSS/images/ACGCET-Title-Image.png" alt="ACGCET College Title Image" width="100%">
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <img src="../CSS/images/Accet_College_1.jpg" alt="ACGCET College Main Entrance Image" width="100%">
                            </div>
                        </div>
                        </div>
                        <div class="ourCollegeContent">
                        <div class="row mt-4">
                            <div class="col-12">
                                <h1>Our College - <span><b>ACGCET</b></span></h1>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <p>Established in 1952 by a leading educationist of the time, <span><b><i>RM. Alagappa Chettiar, ACCET</i></b></span> is today truly an asset for engineering education in the State just for its results and campus infrastructure. <a href="https://www.accetedu.in/198-2/">Read More..</a></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row p-5 pt-4 pb-4 align-items-center justify-content-center" id="ourDepartment">
                    <div class="col">
                        <div class="ourDepartmentTitle">
                            <div class="row text-center">
                                <div class="col-12">
                                    <h1>Our Department - <span><b>Mechanical</b></span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="ourDepartmentContent">
                        <div class="row mt-4 align-items-center text-center">
                            <div class="col-12 col-md-6">
                                <img src="../CSS/images/Mechanical_Block_1.jpg" alt="ACGCET Mechanical Department Image" width="100%">
                            </div>
                            <div class="col-12 mt-3 col-md-6 text-start">
                                <p><span><b><i>Department of Mechanical Engineering</i></b></span> was introduced in the year 1952 with the student intake of 40. The sanctioned intake for B.E.-Mechanical Engineering has been increased to 60 in the year 1989 and 120 in the year 2009. <a href="https://www.accetedu.in/mechanical/">Read More..</a></p>
                            </div>
                        </div>
                        </div>
                        <!-- <div class="row mt-2">
                            
                        </div> -->
                    </div>
                </div>
                <hr>
                <div class="row p-5 mt-4 pt-4 pb-4 align-items-center justify-content-center" id="mechasso">
                    <div class="col">
                        <div class="mechassoTitle">
                        <div class="row text-center">
                            <div class="col-12">
                                <h1>Mechasso - <span><b>ACGCET Mechanical Association</b></span></h1>
                            </div>
                        </div>
                        </div>
                        <div class="mechassoContent">
                        <div class="row mt-4 align-items-center text-center">
                            <div class="col-12 col-md-6">
                                <img src="../CSS/images/mechasso_logo.png" alt="ACGCET Mechanical Association Logo" width="100%">
                            </div>
                            <div class="col-12 mt-3 col-md-6 text-start">
                                <p><span><b><i>MECHASSO</i></b></span> is also called as Mechanical Association which indulges itself in improving our Mechanical Department. It also conducts two symposium <span><i>FUEL</i></span> & <span><i>SHACKLES</i></span>.</p>
                            </div>
                        </div>
                        </div>
                        <!-- <div class="row mt-2">
                            
                        </div> -->
                    </div>
                </div>
                <hr>
                <div class="row p-5 mt-4 pt-4 pb-4 align-items-center justify-content-center" id="mechfest">
                    <div class="col">
                        <div class="mechfestTitle">
                        <div class="row text-center">
                            <div class="col-12">
                                <h1>Mechfest - <span><b>ACGCET Mechanical Festival</b></span></h1>
                            </div>
                        </div>
                        </div>
                        <div class="mechfestContent">
                        <div class="row mt-4 align-items-center text-center">
                            <div class="col-12 col-md-6">
                                <img src="../CSS/images/MechFest Logo-1.png" alt="ACGCET MechFest Logo" width="100%">
                            </div>
                            <div class="col-12 mt-3 col-md-6 text-start">
                                <p><span><b><i>MECHFEST</i></b></span> is also called as Mechanical Festival conducted by <span><b>ACGCET MECHASSO</b></span>, where both the <mark><b>Inter (SHACKLES) and Intra (FUEL) Level Symposium</b></mark> conducted on consecutive days, which is also followed by Workshops.</p>
                                <p><b>Mechfest will be celebrated on Oct 11, 12, 13 - 2023.</b></p>
                                <p class="lead fw-bold"><span><b class="mechfest_dates"></b></span></p>
                                <p>For Registration, &nbsp;&nbsp;<a href="register"><button class="btn" id="aboutRegisterButton">Register</button></a></p>
                                <!-- <div class="mt-4">
                                    
                                </div> -->
                            </div>
                        </div>
                        </div>
                        <!-- <div class="row mt-2">
                            
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <footer>
        <div class="container pt-5 pb-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-5">
                    <div class="card suggestion_form" id="suggestion-form">
                        <div class="card-header" id="suggestion-form-title"><span>Suggestion Box</span></div>
                        <div class="card-body">
                            <form action="#" th:action="@{/about/sendSuggestion}" th:method="post" autocomplete="off" id="suggestion_form_label_input" onsubmit="return validateSuggestionForm(this)" novalidate th:object="${suggestion}">
                                <div class="mb-3">
                                    <label class="form-label" for="fullName">Full Name <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="fullName" name="name" placeholder="Enter your name" pattern="^(?!\.)(?!.*\.$)(?!.*\.\.)([a-zA-Z.]+([\s][a-zA-Z.]+)*){2,}" required="required" th:field="*{name}">
                                    <div class="valid-feedback">Valid Name</div>
                                    <div class="invalid-feedback">Invalid Name</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="mobile">Mobile No. <span class="text-danger">*</span></label>
                                    <input class="form-control" type="tel" id="mobile" name="mobileNo" pattern="[0-9]{10}" placeholder="10 digit Mobile number" required="required" th:field="*{mobileNo}">
                                    <div class="valid-feedback">Valid Mobile No.</div>
                                    <div class="invalid-feedback">Invalid Mobile No.</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="email">E-Mail Address <span class="text-danger">*</span></label>
                                    <input class="form-control" type="email" id="email" name="emailId" placeholder="Enter your Gmail address" pattern="^(?!\.)(?!.*\.$)(?!.*?\.\.)[a-z0-9]+[a-z.0-9]*[a-z]+[a-z.0-9]*[a-z0-9]+@gmail\.com$" required="required" th:field="*{emailId}">
                                    <div class="valid-feedback" id="valid_msg">Valid Email</div>
                                    <div class="invalid-feedback" id="invalid_msg">Invalid Email</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="suggestion">Message <span class="text-danger">*</span></label>
                                    <textarea class="form-control" name="message" id="suggestion" rows="5" placeholder="Enter your message" required="required" th:field="*{message}"></textarea>
                                    <div class="valid-feedback">Thanks for your Suggestion</div>
                                    <div class="invalid-feedback">Enter your Suggestion</div>
                                </div>
                                <div class="mb-3 mt-5">
                                    <button type="submit" class="btn" id="suggestionSubmitButton">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="d-flex justify-content-center mt-5 mt-md-0 map-section">
                        <iframe id="map" width="450" height="450" src="https://maps.google.com/maps?q=ACGCET,%20Karaikudi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		
    <script>
        const navEl=  document.querySelector('.navbar');

        window.onload = function(){
            document.getElementById("suggestion_form_label_input").classList.remove("was-validated");
            scrollCheck();
        };

        window.addEventListener('scroll', () => {
            var scrolledY = window.scrollY;
            localStorage.setItem("scrolledY", scrolledY);
            scrollCheck();
        });

        function scrollCheck(){
            var scrolledY = localStorage.getItem("scrolledY");
            if(scrolledY >=  56){
                navEl.classList.add('navbar-scrolled');
            }else{
                navEl.classList.remove('navbar-scrolled');
            }
        }
    </script>

    <script>
        let menuIcon = document.querySelector('#menu-icon');
        let navbar_toggler = document.querySelector('.navbar-toggler');
        let navbar = document.querySelector('.navbar');
        let navbar_show = document.querySelector('#myNavBar');
        let navigation_bar = document.querySelector('#navigation-bar');

        navbar_toggler.onclick = () =>{
            menuIcon.classList.toggle('bx-x');
            navbar.classList.toggle('navbar-background');
        };

        $(document).ready(function () {
            $(document).click(function (event) {
                var clickover = $(event.target);
                var _opened = $(".navbar-collapse").hasClass("show");
                if (_opened === true && !clickover.hasClass("navbar-toggler")) {
                    $(".navbar-toggler").click();
                }
            });
        });
    </script>

    <script>
        function validateSuggestionForm(form){

            if(form.checkValidity()){
                return true;
            }

            form.classList.add("was-validated");
            return false;
        }
    </script>
    
    <script th:inline="javascript">
	
    window.onload = function(){
    	
    	/*<![CDATA[*/

    	var msg = [[${message}]];
    	/*]]>*/
		let toastElement = document.getElementById("toastElement");
    	
    	if(msg.includes("Successfully")){
    		toastElement.classList.add("text-bg-success");
    		toastElement.classList.remove("text-bg-warning");
    		toastElement.classList.remove("text-bg-danger");
    		
        	toastElement.querySelector(".toast-body").innerHTML=msg;
        	if(!(msg.includes("Suggestion"))){
        		toastElement.querySelector(".toast-body").innerHTML+="<br>Mail will be sent shortly.";	
        	}
        	let toast =  new bootstrap.Toast(toastElement);

            toast.show();
    	}
    	else if(msg.includes("Something went wrong")){
    		toastElement.classList.add("text-bg-danger");
    		toastElement.classList.remove("text-bg-success");
    		toastElement.classList.remove("text-bg-warning");
    		
        	toastElement.querySelector(".toast-body").innerHTML=msg;
        	let toast =  new bootstrap.Toast(toastElement);

            toast.show();
    	}
    	else if(msg.includes("already registered")){
    		toastElement.classList.add("text-bg-warning");
    		toastElement.classList.remove("text-bg-success");
    		toastElement.classList.remove("text-bg-danger");
    		
        	toastElement.querySelector(".toast-body").innerHTML=msg;
        	let toast =  new bootstrap.Toast(toastElement);

            toast.show();
    	}

    }
    </script>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
	
    <script type="text/Javascript" src="../Javascript/AboutScript.js"></script>
</body>
</html>