:root{
    --bg-color: #F8F7FF;
    --second-bg-color: #28262C;
    --text-color: #fff;
    --second-text-color:#111D4A;
    --main-color: #FEA82F;
}

#events-banner{
    /* min-height: 70vh; */
    background: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.7), rgba(0,0,0,0.75)), url('./images/Events-Banner.jpg') center, no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.header-nav-tabs p{
    color: var(--text-color);
}

#fuel-tab-dropdown-menu, #shackles-tab-dropdown-menu{
    background-color: var(--second-bg-color);
}
#fuel-tab-dropdown-menu a:hover, #fuel-tab-dropdown-menu a:focus,
#shackles-tab-dropdown-menu a:hover, #shackles-tab-dropdown-menu a:focus{
    background-color: var(--second-bg-color);
}

.dropdown-menu li{
    border-bottom: 1.8px solid var(--second-text-color);
}

.dropdown-menu a{
    color:var(--text-color);
    box-shadow: none;
    /* border-bottom: 2px solid var(--second-bg-color); */
}

.dropdown-menu a:hover, 
.dropdown-menu a:focus{
    color: var(--main-color);  
}

#section-navs{
    --bs-nav-tabs-border-width: 2px;
    --bs-nav-tabs-border-color: var(--second-bg-color);
    --bs-nav-tabs-border-radius: 0.5rem;
    --bs-nav-tabs-link-hover-border-color: var(--second-text-color) var(--second-text-color) var(--second-bg-color);
    --bs-nav-tabs-link-active-color: var(--text-color);
    --bs-nav-tabs-link-active-bg: var(--main-color);
    --bs-nav-tabs-link-active-border-color: var(--second-bg-color) var(--second-bg-color) var(--second-bg-color);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

#section-navs .nav-link.active{
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    border-bottom: none;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 2rem;
    font-weight: 700;
}


#section-navs .nav-link{
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
    color: var(--second-text-color);
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
} 


.tab-content h1{
    font-size: 4.1rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.4rem;
}

.tab-main-content p{
    font-size: 1.2rem;
    line-height: 1.8;
    word-spacing: 0.1rem;
}

.announcment-text{
    letter-spacing: 0.07rem;
}

.event-images{
    width: 100%;
    height: 16vw;
    object-fit: cover;
}

.eventsList h4{
    color: var(--second-text-color);
    text-shadow: 0 0 0.4rem var(--main-color);
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 1.3;
}

.eventsList p{
    font-size: 1.05rem;
}

.eventsList span{
    letter-spacing: 0.06rem;
}

section .card:hover, section .card:focus{
    transform: scale(1.05);
    box-shadow: 0 0 2rem var(--main-color);
}

.event-detail-button{
    display: inline-block;
    padding: 0.5rem 0.2rem;
    background: var(--main-color);
    border-radius: 0.75rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.15rem;
    width: 60%;
    color: var(--second-bg-color);
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}

.event-detail-button:hover,
.event-detail-button:focus{
    box-shadow: none;
}


.each_event_Content li{
    list-style-type: decimal;
    line-height: 2.4rem;
}

.subList li{
    list-style-type: square;
}

@media (max-width: 768px){

    .event-images{
        width: 100%;
        height: 100%;
    }
}

