:root{
    --bg-color: #F8F7FF;
    --second-bg-color: #28262C;
    --text-color: #fff;
    --second-text-color:#111D4A;
    --main-color: #FEA82F;
}

#registration-banner{
    /* min-height: 70vh; */
    background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url('./images/registration_banner_1.jpg') center, no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.section-container{
    background-color: var(--main-color);
}

.section-contents{
    background-color: var(--bg-color);
    color: var(--second-text-color);
}

.main-Title h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.form-SubTitles{
    color: var(--second-bg-color);
}

/* .participant .input-field label{
    font-size: 12px;
    font-weight: 600;
    color:#2e2e2e;
} */
.registration-form .input-field label{
    font-size: 1.1rem;
}

.registration-form .input-field input, .registration-form .input-field select{
    background-color: var(--bg-color);
    outline: none;
    font-size: 1.05rem;
    /* font-size: 14px;
    font-weight: 400;
    color: #333; */
    /* border-radius: 5px; */
    border: 1px solid var(--main-color);
    color: var(--second-bg-color);
    /* padding: 0 15px;
    height: 38px;
    margin: 8px 0;
    margin-bottom: 2px; */
}

.registration-form .input-field input:is(:focus), .registration-form .input-field select:is(:focus){
    box-shadow: 0 3px 6px rgba(254, 168, 47, 0.5);
}


.was-validated .form-control#collegeName:valid{
    background-image: none;
}


#college .form-control#collegeName.valid{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path fill="%23198754" d="M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z"/></svg>');
}

#college .form-control#collegeName.invalid{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12" fill="none" stroke="%23dc3545"><circle cx="6" cy="6" r="4.5"/><path stroke-linejoin="round" d="M5.8 3.6h.4L6 6.5z"/><circle cx="6" cy="8.2" r=".6" fill="%23dc3545" stroke="none"/></svg>');
}


.register-button{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0.2rem;
    background: var(--main-color);
    border-radius: 0.75rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.15rem;
    letter-spacing: 0.05rem;
    width: 20%;
    color: var(--second-bg-color);
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}

.register-button:hover,
.register-button:focus{
    box-shadow: none;
}

.registration-form .input-field label.required:after { 
    content:" *"; 
    color: red;
}

#form-SubTitle,#participants,#submitButton{
    display: none;
}

.container form .participant-details .participant, .container form .participant-details .college{
    display: none;
}



@media (max-width: 350px){

    .main-Title h1{
        font-size: 3rem;
    }
    
    #section-navs .nav-link.active{
        font-size: 1.3rem;
        font-weight: 700;
    }
    
    
    #section-navs .nav-link{
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    .register-button{
        width: 33%;
    }
} 