:root{
    --bg-color: #F8F7FF;
    --second-bg-color: #28262C;
    --text-color: #fff;
    --second-text-color:#111D4A;
    --main-color: #FEA82F;
}

#contact-banner{
    /* min-height: 70vh; */
    background: linear-gradient(to left, rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.75)), url('./images/contactBanner.jpg') center, no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.header-nav-tabs a{
    font-size: 2rem;
}