*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', sans-serif;
}
/* #EBF2FA, #F0FFF1, #FCFFFD, #F8F7FF -body color*/
/* #051014, #001427, #111D4A - body text color*/
:root{
    --bg-color: #F8F7FF;
    --second-bg-color: #28262C;
    --text-color: #fff;
    --second-text-color:#111D4A;
    --main-color: #FEA82F;
    --main-color-dark: #ff9500;
    --main-color-dark-N: #cb7702;
    --main-color-dark-B: #ff9500;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #EDF2F4;
}

section{
    background-color: var(--bg-color);
    color: var(--second-text-color);
}

footer{
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

.navbar{
    transition: all 0.5s ease-in-out;
}

.navbar-scrolled, .navbar-background{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

#menu-icon{
    font-size: 2.1rem;
}

#home-banner{
    /* min-height: 95vh; */
    background: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./images/HomeBackground-try1.jpg') center, no-repeat;
    /* background-position: center; */
    background-size: cover;
}

#title{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
}

span{
    color: var(--main-color);
}

section p span, section h4 span{
    color: var(--main-color-dark-N);
    letter-spacing: 0.11rem;
}

section span b{
    color: var(--main-color-dark-B);
    letter-spacing: 0.11rem;
}

#myNavBar a{
    font-size: 1.05rem;
    color: var(--text-color);
    transition: .3s;
}

#myNavBar a:hover,
#myNavBar a.active {
    color: var(--main-color);
}

#navRegisterButton{
    display: inline-block;
    /* padding: 1rem 2.8rem; */
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.05rem;
    color: var(--second-bg-color);
    letter-spacing: .05rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}

#homeRegisterButton, #homeAboutButton, #suggestionSubmitButton, #aboutRegisterButton, #eachEventRegisterButton{
    display: inline-block;
    /* padding: 1rem 2.8rem; */
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.4rem;
    width: 180px;
    color: var(--second-bg-color);
    letter-spacing: .05rem;
    font-weight: 600;
    transition: .5s ease;
    cursor: pointer;
}

#navRegisterButton:hover, #homeRegisterButton:hover, #homeAboutButton:hover, #suggestionSubmitButton:hover, #aboutRegisterButton:hover,#eachEventRegisterButton:hover,
#navRegisterButton:focus, #homeRegisterButton:focus, #homeAboutButton:focus, #suggestionSubmitButton:focus, #aboutRegisterButton:focus, #eachEventRegisterButton:focus{
    box-shadow: none;
}

/* .mt-5{
    margin-top: 12rem!important;
} */

#home-header{
    color: var(--text-color);
}

#home-header h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

#home_header_para{
    font-size: 2rem;
    letter-spacing: 0.25rem;
    font-weight: 600;
}

#home-header h3{
    font-size: 2.4rem;
    font-weight: 700;
}

#home-header h4{
    padding-top: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

#home-header p{
    font-size: 1rem;
}

.mechFest_logo{
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
}

.scrolling-text{
    font-style: italic;
    font-weight: bolder;
    color: red;
}

#mechfest-brief-title{
    font-size: 2.8rem;
    font-weight: 800;
}

#suggestion-form{
    background-color: var(--second-bg-color);
    color: var(--text-color);
}

#suggestion-form-title{
    font-size: 2rem;
    font-weight: 700;
}

@media (max-width: 1200px){
    html{
        /* font-size: 55%; */
        font-size: 80%;
    }
    body {
        overflow-x: hidden !important;
    }

    .about-contents img{
        width: 100%;
        height: auto;
    }
}


@media (max-width: 450px){
    html{
        /* font-size: 40%; */
        font-size: 60%;
    }

    .mechFest_logo{
        width: 35%;
    }
    #map{
        width: 90%;
        height: 40%;
    }
    #homeRegisterButton, #homeAboutButton, #suggestionSubmitButton, #aboutRegisterButton, #eachEventRegisterButton{
        width: 35%;
    }

    .about-contents img{
        width: 100%;
        height: auto;
    }

} 

@media (max-width: 350px){
    html{
        font-size: 40%;
    }
}


